<div class="home-container">

<mat-card class="home-card mat-elevation-z13">
  <mat-card-header>

    <img mat-card-avatar src="../assets/cubanProjects.jfif" />
    <mat-card-title>Cuban Open Source Projects</mat-card-title>
  </mat-card-header>
  <img mat-card-image src="../../../assets/cubanProjects.jfif" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p class='label-home'>
      Awesome list of Cuban opensource projects. Just to know what is being openly developed in Cuba.

    </p>
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-raised-button (click)="onSearchProjects()" ><mat-icon>manage_search</mat-icon> List Projects</button>

  </mat-card-actions>
</mat-card>
</div>
